
/* unvisited link */
a:link {
    color:  #669999;
}

/* visited link */
a:visited {
    color: #f0f5f5;
}

/* mouse over link */
a:hover {
    color: #f0f5f5;
}

/* selected link */
a:active {
    color: #e0ebeb;
}

a {text-decoration: none;
}

.subtitle
{font-family: "Courier New", Courier, monospace;
font-size: 40px;
color: #94b8b8;
}



ul > li { list-style: none; } 
ul.inline li { display: inline-block; margin: 10px; }



.nav
{font-style=color: white;
font-weight: bold;
font-family: "Courier New", Courier, monospace;
font-size: 18px;
list-style-type: none;
style=color:#85adad;
}


